<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- <comment>
   testNG是Java中的一个测试框架， 类似于JUnit和NUnit,功能都差不多,只是功能更加强大，使用也更方便
Java中已经有一个JUnit的测试框架了.TestNG比JUnit功能强大的多. 测试人员一般用TestNG来写自动化测试.开发人员一般用JUnit写单元测试.
   "verbose":  TestNG默认情况下，会生产两种类型的测试报告HTML的和XML的。 测试报告位于 "test-output" 目录下.
当然我们也可以设置测试报告的内容级别. verbose="2" 标识的就是记录的日志级别，共有0-10的级别，其中0表示无，10表示最详细.
   "preserve-order":  为true时，表示<test>下所有<classes>顺序执行
</comment> -->
<suite name="MyTest" verbose="1">
	<test name="automation" preserve-order="true">
		<classes>
			<!-- <class name="com.ZhiHu.autotest.testCase.ClickSignInLabel">
				<methods>
					<include name="signIn" />
				</methods>			
			</class> -->
			<class name="com.ZhiHu.autotest.testCase.PerformMoibleTestCase">
 	 	      <methods>           
                    <include name="SignIn" />                
              </methods>
        </class>
			<!-- <class name="com.ZhiHu.autotest.testCase.AndriodTestDemo">
 	 	      <methods>           
                    <include name="lauchBrowserApp" />                
              </methods>
            </class> -->
			<!-- <class name="com.ZhiHu.autotest.testCase.CtripTestDemo">
 	 	      <methods>           
                    <include name="signIn" />                
              </methods>
        </class>		 -->
		</classes>	
	</test>	
</suite>